// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1.band-header {
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75rem;
    font-size: 3rem;
    // display: inline;
    margin-bottom: 5rem;
    border-bottom-style: groove;
}

li {
    list-style-type: none;
}

.member-container {
    width: 50%;
    display: inline-block;
    float: left;
}

.album-container {
    display: inline-block;
    width: 50%;
    float: right;
}

.ind-member, .ind-album {
    position: relative;
    margin-bottom: 2rem;
}

.member-name, .album-name {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: white;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    font-weight: 700;
    font-style: italic;
}

.member-img, .album-img {
    display: block;
    width: 50%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}