// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.band-header {
    letter-spacing: 5px;
    font-size: 3em;
    font-style: italic;
    border-bottom: groove;
}

.member-grid {
    display: grid;
    grid-template-columns: repeat(2, 410px);
    justify-content: space-around;
    width: 100%;
    row-gap: 10%;
    overflow: scroll;
}

.grid-item {
    width: 350px;
    position: relative;
    justify-self: center;
}

.member-img {
    width: 100%;
    object-fit: cover;
}

.member-name {
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    text-align: center;
    width: 101%;
    font-size: 2em;
    letter-spacing: 1.5px;
}